
.clickable {
  cursor: pointer;
  &:hover {
    filter: brightness(95%);
  }
}

.mystery {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.setPerson {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 30%;
  &:hover {
    opacity: 1;
  }
}