
.base {
  display: grid;
  grid-template-columns: 30% 5% 30% 5% 30%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.link {
  display: flex;
  justify-content: center;
}

.from, .to {
  min-width: 250px;
}

.link {
  min-width: 20px;
}

.person {

}

.arrow {

}