.panel {
  height: 100%;
  display: grid;
  grid-template-rows: 30% 70%;
}

.subPanel {

}

.title {
  font-size: large;
  font-weight: bold;
}

.separator {
  border-top: 1px solid lightgray;
}

.item {
  cursor: pointer;
  & + .item {
    border-top: 1px solid lightgray;
  }
}

.date {
  color: gray;
  font-size: small;
}

.selected {
  background-color: #eff9ff;
}

.itemContent {
  padding: 4px;
  display: grid;
  grid-template-columns: 40px auto 40px;
}

.itemInfo {
  width: 210px;
}

.name {
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.list {
  height: calc(100% - 24px);
  overflow-y: auto;
}
