
.peopleItem {
  cursor: pointer;
}

[is-selected="true"] {
  background-color: lightgray;
}

h3 {
  padding-left: 32px;
}

.dialogFooter {
  padding: 0 16px 8px 16px;
  display: flex;
  justify-content: space-between;
}

.emailFields > * {
  width: 100%;
}

.dialogContent {
  width: 80vw;
  max-width: 600px;
  & > * {
    margin: 20px;
  }
}

.nameFields {
  display: flex;
  & > * {
    flex-grow: 1;
  }

  & > * + * {
    margin-left: 16px !important;
  }
}

.groupFilter {
  display: flex;
}

.manageContent {

}

.groupContent {
  margin-top: 8px;
  padding-top: 8px;
  border-top: 1px solid lightgray;
}

.addGroupContent {
  display: flex;
  align-items: center;
}

.createGroup {
  display: flex;
  & > * + * {
    margin-left: 16px;
  }
}

.groupLabel {
  font-style: italic;
  user-select: none;
  cursor: auto;
  margin: 8px 0;
}

.addGroup {

}

.dialogTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.backButton {
  margin-right: 16px;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}

.chip {
  margin-left: 8px
}

.manageContentSubBlock {
  display: grid;
  grid-template-columns: 310px auto;
  height: calc(100vh - 120px);
  overflow-y: auto;
}

.block {
  height: 100%;
}

.list {
  height: calc(100vh - 182px);
  overflow-y: auto;
  overflow-x: hidden;
}

.blockTitle {
  display: flex;
  justify-content: space-between;
}

.peopleMainList {

}